@import "tailwindcss";

@theme {
  --color-primary: #C563FF;
  --color-secondary: #02001B;
  --color-primary-light: rgba(212, 125, 65, 0.1);
}

@layer utilities {

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type='number'] {
    -moz-appearance: textfield;
  }

  ._color-safelist {
    @apply bg-red-50 bg-orange-50 bg-amber-50 bg-yellow-50 bg-lime-50 bg-green-50 bg-emerald-50 bg-teal-50 bg-cyan-50 bg-sky-50 bg-blue-50 bg-indigo-50 bg-violet-50 bg-purple-50 bg-fuchsia-50 bg-pink-50 bg-rose-50;
    @apply text-red-500 text-orange-500 text-amber-500 text-yellow-500 text-lime-500 text-green-500 text-emerald-500 text-teal-500 text-cyan-500 text-sky-500 text-blue-500 text-indigo-500 text-violet-500 text-purple-500 text-fuchsia-500 text-pink-500 text-rose-500;
    @apply hover:bg-red-100 hover:bg-orange-100 hover:bg-amber-100 hover:bg-yellow-100 hover:bg-lime-100 hover:bg-green-100 hover:bg-emerald-100 hover:bg-teal-100 hover:bg-cyan-100 hover:bg-sky-100 hover:bg-blue-100 hover:bg-indigo-100 hover:bg-violet-100 hover:bg-purple-100 hover:bg-fuchsia-100 hover:bg-pink-100 hover:bg-rose-100;
  }

}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 1.5;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

.custom-swal {
  border-radius: 1rem;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #d4d4d4 transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d4d4d4;
  border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.custom-scrollbar::-webkit-scrollbar-button:single-button {
  display: none;
  width: 0;
  height: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }
}